

{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": [
    "src/scripts/core/*.ts"
  ],
  "overrides": [
    {
      "files": ["*.ts"],
      "parserOptions": {
        "project": "./tsconfig.json",
        "sourceType": "module"
      }
    }
  ],
  "rules": {
    "import/extensions": ["error", "ignorePackages", {
      "ts": "never",
      "js": "never"
    }],

    "semi": "off",
    "require-jsdoc": "off",
    "lines-between-class-members": "off",
    "@typescript-eslint/lines-between-class-members": "off",
    "padding-line-between-statements": "off",
    "no-undef": "off",
    "no-empty-function": "off",
    "no-floating-decimal": "off",
    "object-curly-newline": "off",
    "no-loop-func": "off",
    "no-restricted-globals": "off",
    "no-unused-vars": "off",
    "linebreak-style": "off",
    "no-unused-expressions": "off",
    "no-useless-constructor": "off",
    "class-methods-use-this": "off",
    "func-names": "off",
    "implicit-arrow-linebreak": "off",
    "no-restricted-syntax" : "off",
    "no-plusplus": "off",
    "comma-dangle": "off",
    "quote-props": "off",
    "arrow-parens": "off",
    "import/no-extraneous-dependencies" : "off",
    "import/no-useless-path-segments": "off",
    "import/no-mutable-exports": "off",
    "no-param-reassign": "off",
    "consistent-return": "off",

    "prettier/prettier": ["error"],
    "@typescript-eslint/no-unused-vars": ["warn"],
    "@typescript-eslint/no-explicit-any": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
