// screen
$browser-context: 16;
$screen-width: 1920;
$screen-height: 980;
 
//colors
$main-color: #e40f0f;
$light-color: #FFFFFF;
$text-color: #151516;
 
 //fonts
$normal-font: "Lexend-SemiBold", sans-serif;
